
.btn-hold {
  color: #fff;
  background-color: #b9a8a8;
  border-color: #ae9a9a;
}
.btn-hold:focus,
.btn-hold.focus {
  color: #fff;
  background-color: #b9a88c;
  border-color: #985f0d;
}
.btn-hold:hover {
  color: #fff;
  background-color: #b9a88c;
  border-color: #af9c7c;
}
.btn-hold:active,
.btn-hold.active,
.open > .dropdown-toggle.btn-hold {
  color: #fff;
  background-color: #b9a88c;
  border-color: #af9c7c;
}

#cy {
  height: 80%;
}

/** START */
/** used in welcome.js to orient the main screen */
.magiccontainer {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffffd0;
}

.magiccontainer:hover .overlay {
  opacity: 1;
}

/** END */